/* footer */

.footer {
  background: #f1f1f1;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    font-size: 14px;
    color: #999;
    font-weight: 300;
    @include screen-sm {
      font-size: 12px;
    }
  }
}